body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    cursor: pointer;
}

#character_name {
    padding-top: 10%
}

#stopwatch_display {
    border: 5px solid;
}