@font-face {
    font-family: tarrget;
    src: url(/fonts/tarrgetexpandital.ttf);
}

h1 {
    font-family: tarrget;
    
}

body {
    background-image:linear-gradient(rgb(16,25,39) , black);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

button {
    margin-top: 5vh;
    margin-left: 3vw;
    font-family: tarrget;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    color: white;
    transition: background-color 0.2s ease;
}

#next_challenger {
    background-color: hsl(120, 100%, 25%);
}

#next_challenger:hover {
    background-color: hsl(120, 100%, 20%);;
}

#reset {
    background-color: hsl(0, 100%, 50%);
}

#reset:hover {
    background-color: hsl(0, 100%, 45%);
}

#character_name {
    margin-top: 2vh;
    font-family: tarrget;
    margin-bottom: 2vh;
}

#stopwatch_display {
    border: 4px solid;
    border-radius: 50px;
    padding: 20px;
    margin-top: 3vh;
    font-size: 2rem;
    font-family: tarrget;
    width: 365px;
}

#characterPortrait {
    height: 45vh;
    width: auto;
}